@model ErrorReporter.ViewModels.ErrorVM

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Error Reporter</title>
    <meta charset="utf-8" />
</head>
<body>
    <table border="1">
        <tr>
            <td><b>Id</b></td>
            <td><b>Reporter</b></td>
            <td><b>Manufacturer</b></td>
            <td><b>Serial Number</b></td>
            <td><b>Description</b></td>
            <td><b>Date</b></td>
        </tr>
                @foreach (var item in Model.Tickets)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Reporter</td>
                        <td>@item.Manufacturer</td>
                        <td>@item.SerialNumber</td>
                        <td>@item.Description</td>
                        <td>@item.ReportedAt</td>
                    </tr>
                }
</table>
</body>
</html>